@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray: #6C757D;
  --color-gray-brand: #CCC;
  --color-primary: #DAFF01;
  --color-secondary: #9353FF;
  --color-orange: #F87F46;
  --color-rose: #EE6471; 
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}
